/*whole page*/
body{
	background-color: #FFEFD5;
}



/*Nav Bar*/
.navigation{
	margin-left: 35%;
    margin-top: .5%;

}







/*Header*/
header h1{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
}

header img{
	height: 350px;
    margin-left: 37%;
    margin-bottom: 2%;

}

header p{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}



/*Footer*/
footer ul{
	margin-top: 2%;
	margin-left: 40%;

}


footer ul li{
	list-style: none;
	display: inline-block;
	margin-left: 1%;
	text-decoration: none;
}