/*whole page*/
body{
	background-color: #FFEFD5;
}



/*Nav Bar*/

.navigation{
	margin-left: 35%;
    margin-top: .5%;

}

/* Header */

h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	text-align: center;

}

header img{
    height: 25em;
    width: 41em;
    margin-left: 29%;
}


header p{
	margin-top: 3%;
	font-size: 15px;
	text-align: center;
	margin-left: 9%;
}

/*Instruemtn Roles*/

.instrument-rows{
	margin-top: 3%;
    margin-left: 16%;

}


p{
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
}

.col-md-3 button{
	margin-left: -23%;
}

/*Footer*/
footer ul{
	margin-top: 2%;
	margin-left: 40%;

}


footer ul li{
	list-style: none;
	display: inline-block;
	margin-left: 1%;
	text-decoration: none;
}